#ad-banner {
    position: fixed;
    width: 24%;
    top: 80px;
    left: 5px;
    z-index: 9999;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
}
#ad-banner img {
    width: 100%;
    object-fit: cover;
    min-height: 400px;
}
#ad-banner button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;
    font-size: 22px;
    cursor: pointer;
}