.song-card {
    position: relative;
    background-color: transparent;
    min-width: 180px;
    width: 200px;
    height: 250px;
    /* Đặt chiều rộng cố định cho thẻ song-card */
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.play-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    /* background-color: rgba(0, 0, 0, 0.6); */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    /* Ẩn nút play mặc định */
    transition: opacity 0.3s ease;
    z-index: 2;
}

.play-overlay i {
    color: white;
    font-size: 54px;
    /* Kích thước biểu tượng play */
}

.song-card img {
    width: 100%;
    /* Đảm bảo ảnh chiếm toàn bộ chiều rộng của thẻ cha */
    height: 150px;
    /* Đặt chiều cao cố định cho ảnh */
    border-radius: 8px;
    /* Bo góc ảnh */
    object-fit: cover;
    /* Cắt ảnh để vừa với khung mà không bị méo */
    padding: 5px;
    /* Đặt độ rỗng đồng đều cho ảnh */
    background-color: #f0f0f0;
    /* Màu nền để lấp đầy khoảng trống nếu ảnh không đủ lớn */
    box-sizing: border-box;
    /* Bao gồm padding trong kích thước ảnh */
}

.song-card:hover img {
    opacity: 0.5;
    /* Hiệu ứng mờ khi hover */
}

.song-card:hover .play-overlay {
    opacity: 1;
    /* Hiển thị nút play khi hover */
}

.song-card.playing {
    background: rgba(65, 65, 65, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
    transition: all 0.3s ease;
}


.song-card.playing .play-overlay {
    opacity: 1;
}
.song-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: center;
}

.song-info > p:hover {
    color: #4CAF50;
    /* Màu sắc khi hover */

}